{% load static %}
{% load ne_ximik_tags %}
<div class="basket__item">
    <a href="#!" class="basket__item-img">
        <img src="{{ item.product.get_image_product }}" alt="product">
    </a>
    <div class="basket__item-content">
        <div class="basket__item-text">
            <h2 class="basket__item-title">{{ item.product.title }}</h2>
            <p class="basket__item-price">

                <span class="price"><span>{% get_normal_price item.product.price %}</span>сум</span>

            </p>
        </div>
        <div class="basket__options">

            <p class="basket__options-color">
                Бренд:
                <span class="color__name">{{ item.product.brand.title }}</span>
            </p>


            <p class="basket__options-count">
                Количество: <span>{{ item.quantity }}</span>
            </p>

        </div>
    </div>
    <a href="{% url 'to_cart' item.product.slug 'delete' %}" class="basket__delete">
        <i class="fas fa-times"></i>
    </a>
</div>