{% load static %}
{% load ne_ximik_tags %}
<div class="products__item">


    {% if request.user.is_authenticated %}
    {% get_favorite_products request.user as fav_products %}
    {% endif %}

    {% if product in fav_products and request.user.is_authenticated %}
    <a href="{% url 'save_favorite' product.slug %}" class="products__item1-heart">
        <svg width="19" height="17" viewBox="0 0 28 24" fill="#FF0000" xmlns="http://www.w3.org/2000/svg">
            <path
                    d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
    {% else %}
    <a href="{% url 'save_favorite' product.slug %}" class="products__item1-heart">
        <svg width="19" height="17" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                    d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                    stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
    {% endif %}


    <a href="{{ product.get_absolute_url }}"> <img src="{{ product.get_image_product }}" alt=""
                                                   class="products__item-img"></a>
    <div class="products__item-text">
        <h3 class="products__item-title">{{ product.title }}</h3>
        <div class="products__item-desrc">{{ product.category }}</div>
        <div class="products__item-price">{% get_normal_price product.price %} сум</div>
    </div>
    <!-- /.products__item-text -->
    <div class="products__item-options products__options">
        <h4 class="products__options-title"></h4>
        <ul class="products__options-list options__list">

            <li class="options__list-item">
                <p class="options__list-text">
                    БРЕНД
                </p>
                <span class="size">{{ product.brand.title }}</span>
            </li>

            <li class="options__list-item">
                <p class="options__list-text">
                    ВКУС
                </p>
                <span class="size">{{ product.taste }}</span>
            </li>
        </ul>
        <div class="card_button">
            <a class="btn_card" href="{% url 'to_cart' product.slug 'add' %}">
                <img src="{% static 'digital/assets/icons/cage.svg' %}" alt=""> <span
                    class="btn_text">В корзину</span> </a>
        </div>
    </div>

</div>