{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__navigate">
                <div class="footer__navigate-part">

                    <div class="footer__navigate-lists">
                        <ul class="footer__navigate-list">

                        </ul>

                        <div class="footer__social">
                <ul class="footer__navigate-list _short">
                    <li><a href="#!" class="footer__navigate-links"></a></li>
                    <li><a href="#!" class="footer__navigate-links"></a></li>
                </ul>


                <ul class="footer__social-list">



                    <li>
                        <a href="https://t.me/VrodeNeXimik" class="footer__navigate-links">
                            <img src="{% static 'digital/assets/icons/tg2.svg' %}" alt="" height="60" width="60">

                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/do_vik69?igsh=aGI4YWo5YXk0YXF3" class="footer__navigate-links">
                            <img src="{% static 'digital/assets/icons/inst3.svg' %}" alt="" height="60" width="60">

                        </a>
                    </li>
                    <li>

                    </li>

                </ul>

            </div>



                    </div>
                </div>


                <div class="footer__navigate-part _right">

                    <a href="{% url 'index' %}" class="logo">
                        <img src="{% static 'digital/images/logo-color.png' %}" alt="logo" height="42" width="255">
                    </a>
                </div>

            </div>
            <div class="footer__social">
                <ul class="footer__navigate-list _short">
                    <li><a href="#!" class="footer__navigate-links"></a></li>
                    <li><a href="#!" class="footer__navigate-links"></a></li>
                </ul>


                <div class="footer__navigate-part _right">
                    <a href="https://davidslinko.pythonanywhere.com/" class="logo">
                        <img src="{% static 'digital/images/logo_gymfuel.png' %}" alt="logo" height="60" width="260">
                    </a>

                </div>

            </div>
        </div>
    </div>
</footer>